header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
ul {
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.first-div {
  max-width: 40%;
  display: flex;
  justify-content: space-between;
}

.second-div {
  /* max-width: 60%; 
  width: 60%;
}

.iconic {
  width: 30%;
}

.account {
  color: aliceblue;
}

nav ul li {
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
}
img,
embed,
object,
video {
  max-width: 100%;
}

/* footer {
  background: #818181;
}
.btn-floating {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
} */ */
